<h3><%= @branch.name %></h3>
<table>
  <thead>
    <th>Email</th>
    <th>Points</th>
    <th></th>
  </thead>
  <tbody>
    <% @branch.users.each do |customer| %>
      <tr>
        <td><%= customer.email %></td>
        <td><%= customer.current_points %></td>
        <td colspan=2>
          <%= link_to "View Customer", branch_customer_path(branch_id: current_user.branch_id, id: customer.id) %>
          <%= link_to "Record wash", new_branch_customer_wash_path(branch_id: current_user.branch_id, customer_id: customer.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
