
<%= link_to "Create User", new_user_path %>
<% @users.each do |user| %>
  <p><%= user.name %></p>
  <p><%= user.email %></p>
  <%= link_to "Edit User", edit_user_path(id: user.id) %>
  <%= link_to "Delete User", user_path(id: user.id), method: :delete %>
<% end %>