<!DOCTYPE html>
<html>
  <head>
    <title>CarWashApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>User: <%= current_user.email %></p>
    <%= link_to "Branches", branches_path %>
    <%= link_to "Customers", branch_customers_path(branch_id: current_user.branch_id) %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
